/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-oct-2016, 8:55:48
    Author     : admin
*/

body {background: wheat;}
ul#main-nav {font-family:helvetica,arial,sans-serif;margin:0;padding:0;float:left;width:100%;border-bottom:1px solid #575757; font-family: inherit;}
ul#main-nav li a {margin:0;padding:0 0 0 0.7em;list-style:none;float:left;margin:0 0.2em 0 0;background: #8b8b8b left -153px;}
ul#main-nav li a {text-decoration:none;display:block;padding:0.6em 0.8em 0.3em 0;color:tomato;background: #096;}
ul#main-nav li:hover {background:#CFC;}
ul#main-nav li:hover a {background:#ff0;color:black;}
